.heading{
    font-size:28px;
    width:100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(189, 187, 187);
}

.heading_div{
    background-color: honeydew;
    padding: 10px;
    border-radius: 20px;
    float:none;
    box-shadow: 5px 5px 5px rgb(189, 187, 187);
    color: black;
}

.heading_div2{
    font-size: 18px;
    color: honeydew;
    background-color: rgb(30, 228, 162);
}